@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,600italic,300,600);

html {
  height: 100%;
}
body {
  background-image: url(/assets/img/paul-hanaoka-285358-unsplash.jpg);
  font-family: 'Open Sans';
}
.container {
  background-color: #0c223f;
  color: #f2f2f2;
}


body {
  background-color: #6effea;
}

.password-main__inner {
  background-color: #0c0d3f;
}

.password-powered-by { display: none; }

.password-page {
  background-image: url(https://dunkra.github.io/assets/img/paul-hanaoka-285358-unsplash.jpg);
}
