@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,600italic,300,600);

html {
  height: 100%;
}
body {
  background: linear-gradient(114.83deg, #fefefd 27%, #fbfbfa 27%, #fbfbfa 95%, #f8f8f7 95%, #f8f8f7);
  font-family: 'Open Sans';
}
.container {
  background-color: #0c223f;
  color: #f2f2f2;
}
